@model IEnumerable<Cinema.Web.Models.Movie>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Campus Cinema</h1>

    <table class="latest">
        <thead>
            <tr>
                <th>
                    Legújabb filmjeink
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => movie.Title)
                    </td>
                    <td>
                        @if (movie.Poster != null)
                        {
                            <img src="@Url.Action("DisplayImage", "Home", new { id = movie.Id })" class="item"/>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
