@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Campus Cinema</h1>
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Legújabb filmjeink
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                @foreach (var movie in Model.LatestMovies)
                {
                    <td height="100%" width="20%">
                        @if (movie.Poster != null)
                        {
                            <img src="@Url.Action("DisplayImage", "Home", new { id = movie.Id })" style="max-height: 100%; max-width: 100%"/>
                        }
                    </td>
                }
            </tr>
         </tbody>
    </table>
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Mai műsor
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var showtimes in Model.TodaysShowtimesByMovies)
            {
                <tr>
                    <td>
                        @showtimes[0].Movie.Title
                    </td>
                    @foreach (var showtime in showtimes)
                    {
                        <td>
                            @showtime.Time.TimeOfDay.ToString().Substring(0, 5)
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
