@model List<Cinema.Web.Models.Movie>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Campus Cinema</h1>
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Legújabb filmjeink
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                @foreach (var movie in Model)
                {
                    <td height="100%" width="20%">
                        @if (movie.Poster != null)
                        {
                            <img src="@Url.Action("DisplayImage", "Home", new { id = movie.Id })" style="max-height: 100%; max-width: 100%"/>
                        }
                    </td>
                }
            </tr>
         </tbody>
    </table>
</div>
